<%- include ('../../layout/header.ejs'); %>
<%- include ('../../layout/navbar.ejs'); %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Categoria</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/categories/update">
                <input class="form-control" type="text" name="title" value="<%= category.title %>" placeholder="Defina o Título da categoria">
                <input type="hidden" name="id" value="<%= category.id %>">
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../layout/footer.ejs'); %>