<%- include ('../../layout/header.ejs'); %>
<%- include ('../../layout/navbar.ejs'); %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/private/categories/new">Criar Nova Categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>

                        <a href="/private/categories/edit/<%= category.id %> " class="btn btn-warning">Editar</a>
                        <form method="POST" action="/categories/delete" style="display:inline;" onsubmit="confirmDelete(event,this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                        
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../layout/footer.ejs'); %>
<script>
    function confirmDelete(event, form){
        event.preventDefault();
        var decision = confirm("Realmente Deseja Deletar?");
        if(decision){
            form.submit();
        }
    }
</script>