<%- include ('../../layout/header.ejs'); %>
<%- include ('../../layout/navbar.ejs'); %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Nova Empresa</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/companies/save">
                <input type="text" name="name" class="form-control" placeholder="Defina o nome da Empresa"><br>

                <textarea class="form-control" id="company" name="description" placeholder="Escreva o Artigo Aqui"></textarea><br>

                <input type="email" name="email" class="form-control" placeholder="email@email.com"><br>

                <input type="number" name="cnpj" class="form-control" placeholder="Insira o CNPJ"><br>

                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %>"><%= category.title %></option>
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../layout/footer.ejs'); %>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language : 'pt_BR',
        selector : "#company",
        plugins : [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>