<%- include ('../../layout/header.ejs'); %>
<%- include ('../../layout/navbar.ejs'); %>

<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class="btn btn-success" href="/private/users/create">Criar Novo Usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %> 
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %> 
        </tbody>
    </table>
</div>

<%- include ('../../layout/footer.ejs'); %>